table{
    border:thick solid grey;
    border-collapse:collapse;
    width:25%
}
th,td{border:thin solid black;
padding: 8px;
width:25%}
th,td{
    border:thin solid black;
    padding:8px;
    width:50%;
}

html{
    background-color:aquamarine;
}


form{
    display:flex;
    flex-direction: row;
}
table{
    width:100%;
    height:100%
}